.container {
	width: 100%;
}

.container-div {
	background-color: rgb(61,47,135);
	height: 50vh;
	
}

/* Header Section */
.container-div .header-container {
	max-width: 1200px;
	margin: 0 auto;
	height: 100%;
	position: relative;
}

.header {
	color: rgb(120,112,164);
	display: flex;
	justify-content: flex-end;
	padding-top: 30px;
}

.header .nav .nav-ul{
	display: flex;
}

.header .nav .nav-ul li{
	margin-left: 20px;
}

.header .nav .nav-ul li .download-button{
	text-decoration: none;
	background-color: rgb(104,35,173);
	padding: 10px;
	border-radius: 20px;
	color: rgb(120,112,164);
}

.header-container .header-statement {
	display: flex;
	flex-direction: column;
	height: 88%;
	width: 25%;
	justify-content: center;
	
}

.header-container .header-statement .header-statement-div1 {
	font-size: 2rem;
	color: #fff;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header-container .header-statement .header-statement-div2 {
	font-size: 1.2;
	color: rgb(120,112,164);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.custom-shape-divider-bottom-1626147328 {
    position: absolute;
    bottom: 50vh;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
	/* background-color: #DDE5E8; */
}